/* ---------------------------------------------------------------------------*
 * TRYING TO STAY CONSISTENT WITH GOOGLE KEEP STYLE
 * ---------------------------------------------------------------------------*/

body {
    font-family: 'Roboto','Droid Sans',arial,sans-serif;
}

*:focus {
    outline: 0;
}

.navbar {
    background: #ffbb00;
    height:40px;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    padding: 0 30px;
}

.main-content {
    margin-top: 70px;
}

.navbar .navbar-brand {
    position: relative;
    height: 40px;
    line-height: normal;
    vertical-align: middle;
}

.panel-heading, #inputTitle {
  font-family: 'Roboto Condensed', 'Droid Sans', arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 23px;
}

.panel-body {
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
 
}

.btn-group {
    box-shadow: none;
   -webkit-transition: none;
}

button {
    color: #333;
    text-transform: uppercase;
    padding: 5px 14px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border:0;
    background-color:#fff;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
}

button:hover {
    background-color: rgba(0,0,0,0.08);
    color: #000;
}

.panel .panel-footer {
    overflow: hidden;
    padding-top: 0; 
    padding-bottom:0;
    background-color: transparent;
    border-top: 1px;
}

.radio {
    display: inline-block;
}

/* ---------------------------------------------------------------------------*
 * SIDEBAR
 * ---------------------------------------------------------------------------*/

.nav > li > a {
    padding: 15px 15px;
}

.navbar .navbar-toggle {
    float:left;
    display:block;
}

@media (max-width: 768px) {
   .navbar .navbar-toggle {
        margin-top: 0px;
    } 
    .navbar .navbar-brand {
      height: 50px;
      padding: 8px 15px;
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .navbar .navbar-brand {
      margin-top: 5px;
    }
}

/* ---------------------------------------------------------------------------*
 * DJANGO TOOLBAR FIX
 * ---------------------------------------------------------------------------*/

#djDebug #djDebugToolbarHandle.canvas-slid,
#djDebug #djDebugToolbarHandle.canvas-sliding {
left: auto !important;
right:0 !important;
}