# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
static/bower_components/

# Uglified JavaScript
dist/

# Staticfiles
assets/
media/
static/CACHE/
static/images/_*

# Migrations
*/migrations*

# Deployment settings
/wearhacks_website/settings/private.py
server_files/logs/
