# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
static/bower_components/

# Uglified JavaScript
dist/

# Staticfiles
staticfiles/
media/
static/CACHE/

# Migrations
*/migrations*

# Deployment settings
server_files/private.py
server_files/logs/
