# Python compiled byte code
*.pyc

# SQLite3 database
*.sqlite3

# Node modules
node_modules/

# Bower components
static/bower_components/

# Uglified JavaScript
dist/

# Staticfiles
assets/
media/
static/CACHE/
static/images/_*
static/images/carousel/src/

# Migrations
*/migrations*
migrate.sh

# Deployment settings
wearhacks_website/settings/*_private.py
wearhacks_website/settings/private.py
wearhacks_website/settings/archive/
server_files/logs/
server_files/fab_config.py
server_files/tmp.txt