{% extends "_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}" />

<style>
.bootstrap-switch {
margin-left: 10px;
display:inline-block;
float: right;
vertical-align: middle;
}
#checkout .text {
 margin-left: 10px;
 text-transform: none;
 font-family: "Raleway";
font-weight: 200;
letter-spacing: 1px;
}

.help-block {
font-family: "Helvetica Neue";
font-weight: 300;
font-size: small;
}

.message-error {
color:#a94442;
}

.message-success {
color:#3c763d;
}

</style>

{% endblock %}

{% block content %}
<div id="registration-form-container">
<section>
<div class="header-content">
    <div class="header-content-inner">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 action-panel">
                <div class="row who">
                    <div class="col-xs-offset-1 col-xs-10 text-center">
                    <img src="{% static 'images/logo-text.png' %}"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 text-center">
                    <h3>The Biggest Wearable Hackathon in North-America</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <h1>Registration Form</h1>
                {% crispy form form.helper %}
            </div>
        </div>

        <!-- <div class="row" id="#success">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <h2>
                    <i class="fa fa-2x fa-tick wow bounceIn text-primary"></i>
                    Thank you for registering!
                </h2>
            </div>
        </div> -->
    </div>
</section>
</div>
{% endblock %}

{% block scripts %}
<script src="https://checkout.stripe.com/checkout.js"></script>
<!-- ?v=00001 ensures it doesn't get cached. Should remove this in production. -->
<script type="text/javascript" src="{% static 'javascripts/register.js' %}?v=00001"></script>

<script type="text/javascript">
(function($) {
    "use strict"; // Start of use strict

    })(jQuery); // End of use strict
</script>
{% endblock %}

