{% extends "_base.html" %}
{% load compress %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' %}" />

{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/css/registration-form.css' %}" />
{% endcompress %}
{% endblock %}

{% block content %}
{# {% include "navigation.html" %} #}
<div id="registration-form-container" class="form-wrapper">
<section>
<div class="header-content">
    <div class="header-content-inner">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 action-panel">
                <div class="row who">
                    <div class="col-xs-offset-1 col-xs-10 text-center">
                    <img id="logo" src="{% static 'images/logo-text.png' %}"></img>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 text-center">
                    <h3>{% trans "The Biggest Wearable Hackathon in North-America" %}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <h1>{% trans "Registration Form" %}</h1>
                {% crispy form form.helper %}
            </div>
        </div>
    </div>
</section>
</div>
{% endblock %}

{% block scripts %}
<script src="https://checkout.stripe.com/checkout.js"></script>

{% compress js %}
<!-- ?v=00001 ensures it doesn't get cached. Should remove this in production. -->
<script type="text/javascript" >
window.waiver = "{% static 'documents/waiver.pdf' %}";
window.code_of_conduct = "{% static 'documents/conduct.pdf' %}";
window.stripe_pk = "{{ stripe_public_key }}";
</script>
<script type="text/javascript" src="{% static 'bower_components/datejs/build/production/date-en-CA.min.js' %}"></script>
{% endcompress %}

<script type="text/javascript" src="{% static 'javascripts/register.js' %}{% if debug %}?v=00001{% endif %}"></script>
{% endblock %}

