.bootstrap-switch {
    margin-left: 10px;
    display:inline-block;
    float: right;
    vertical-align: middle;
}
#register .text,
#checkout .text {
   margin-left: 10px;
   text-transform: none;
   font-family: "Raleway";
   font-weight: 200;
   letter-spacing: 1px;
   font-size: 1em;
}

.help-block {
    font-family: "Helvetica Neue";
    font-weight: 300;
    font-size: small;
}

.message-error {
    color:#a94442;
}

.message-success {
    color:#3c763d;
}

#logo {
    width: 100%;
}
