p {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
section {
  padding: 50px 0;
}
.bg-white {
  background: #fff;
}
.bg-light-gray {
  background-color: #f7f7f7;
}
hr.bg-white {
  border-color: #fff;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
header {
  background-color: #2a223e;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a223e), to(#000000));
  background: -webkit-linear-gradient(top, #2a223e, #000000);
  background: -moz-linear-gradient(top, #2a223e, #000000);
  background: -ms-linear-gradient(top, #2a223e, #000000);
  background: -o-linear-gradient(top, #2a223e, #000000);
}
header .background {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../../images/montreal.jpg');
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.4;
}
header a.btn {
  margin: 10px 0;
}
header .header-content {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 20px;
  z-index: 100;
}
@media (max-width: 992px) {
  header .header-content {
    margin-bottom: 0;
  }
}
header .header-content-inner h3 {
  line-height: 1.3em;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 200;
}
header .header-content-inner h3 a {
  color: white;
  border-bottom: 1px dotted;
}
header .header-content-inner h3 a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}
@media (max-width: 992px) {
  header .header-content-inner h3 {
    font-family: "Raleway", "Helvetica Neue", "Helvetica", sans-serif;
  }
}
header .header-content-inner .who .col {
  min-height: 100px;
  height: 100px;
  max-height: 100px;
  margin-bottom: 20px;
}
header .header-content-inner .who .mascot {
  display: block;
  background-image: url('../../images/logo-white.png');
  background-size: auto 90%;
  background-repeat: no-repeat;
  background-position: center;
}
header .header-content-inner .who .logo {
  display: block;
  background-image: url('../../images/logo-text-white.png');
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 500px) {
  header .header-content-inner .who .logo {
    background-size: 90% auto;
  }
}
header .header-content-inner .who .info {
  display: block;
}
header .header-content-inner .who .info div {
  display: block;
  min-height: 33%;
  height: 33%;
  max-height: 33%;
}
header .header-content-inner .who .info p {
  text-align: center;
  padding: 3px;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
}
header .header-content-inner .who .info p.small {
  padding: 5px 0;
  font-size: 15px;
}
@media (max-width: 992px) {
  header .header-content-inner .who .col {
    min-height: 80px;
    height: 80px;
    max-height: 80px;
  }
  header .header-content-inner .who .info {
    width: 100%;
    min-height: 10px;
    height: 10px;
  }
  header .header-content-inner .who .info div {
    height: 20px;
    min-height: 20px;
    max-height: 20px;
    width: 33%;
    float: left;
    margin: auto;
    display: block;
  }
  header .header-content-inner .who .info p {
    text-align: middle;
    width: 100%;
    padding: 0;
    top: 0;
    line-height: 15px;
    font-size: 0.9em;
  }
  header .header-content-inner .who .info p.small {
    font-size: 0.9em;
    padding: 0;
  }
}
@media (max-width: 600px) {
  header .header-content-inner .what {
    display: none!important;
  }
}
header .header-content-inner .what {
  display: block;
  min-height: 200px;
  margin: 20px 0;
}
header .header-content-inner .what .hardware img {
  opacity: 1;
}
header .header-content-inner .what img {
  width: 100%;
}
header .header-content-inner .what img.nod,
header .header-content-inner .what img.myo-white {
  max-width: 320px;
}
header .header-content-inner .what img.nuance,
header .header-content-inner .what img.kinect {
  max-width: 300px;
}
header .header-content-inner .what img.oculus {
  max-width: 230px;
}
header .header-content-inner .what img.intel {
  max-width: 200px;
}
@media (max-width: 600px) {
  header .header-content-inner .what img {
    max-width: 80%;
  }
}
header .header-content-inner .what .col {
  min-height: 200px;
  height: 200px;
  max-height: 200px;
}
header .header-content-inner .what .col.text {
  display: table;
  min-height: 200px;
  height: 200px;
  max-height: 200px;
}
header .header-content-inner .what .col.text p {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  font-size: 55px;
  font-family: 'Raleway', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
@media (max-width: 992px) {
  header .header-content-inner .what .col.text p {
    text-align: center;
  }
}
@media (max-width: 600px) {
  header .header-content-inner .what .col.text {
    min-height: 30px;
    height: 30px;
    max-height: 30px;
  }
  header .header-content-inner .what .col.text p {
    text-align: center;
  }
}
header .header-content-inner .how button {
  margin: 10px 0;
}
.navbar.affix .language-selection .btn-link,
.navbar.affix .social-btns > * > *,
.navbar.affix .social-btns > * > *:first-child {
  color: #3a3a3c;
}
.navbar .language-selection {
  margin-top: 10px;
  color: #fff;
}
.navbar .language-selection .btn-link {
  color: #fff;
  opacity: 0.8;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 1px;
}
.navbar .language-selection .btn-link:hover {
  text-decoration: none;
  opacity: 1;
}
@media (max-width: 768px) {
  .navbar .language-selection .btn-link {
    color: #3a3a3c;
    margin-top: -5px;
  }
}
.navbar .social-btns {
  white-space: nowrap;
  z-index: 2;
  margin: 17px 10px;
}
@media (max-width: 768px) {
  .navbar .social-btns {
    margin-top: 10px;
  }
}
.navbar .social-btns a:hover {
  text-decoration: none;
}
.navbar .social-btns > * {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-align: center;
}
@media (max-width: 768px) {
  .navbar .social-btns > * {
    color: #3a3a3c;
  }
}
.navbar .social-btns > *:first-child {
  margin-left: 0;
}
.navbar .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.navbar .social-btns > * > *:first-child {
  color: #fff;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .navbar .social-btns > * > *:first-child {
    color: #3a3a3c;
  }
}
.navbar .social-btns > *:hover > * {
  top: -100%;
}
#about img {
  margin-bottom: 20px;
}
#hardware li {
  list-style: none;
  margin-bottom: 0;
}
#hardware li p {
  margin-bottom: 0;
}
section.sponsors .sponsor-logos-container {
  text-align: center;
  margin: 10px 15px;
  display: inline-block;
  vertical-align: middle;
  /* Special cases */
}
section.sponsors .sponsor-logos-container img {
  display: inline-block;
  vertical-align: middle;
}
section.sponsors .sponsor-logos-container.logos-premium {
  height: 140px;
}
section.sponsors .sponsor-logos-container.logos-premium a {
  white-space: nowrap;
  height: 120px;
  margin: 0;
  padding: 0;
}
section.sponsors .sponsor-logos-container.logos-premium a .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
section.sponsors .sponsor-logos-container.logos-premium a img {
  max-height: 120px;
  vertical-align: middle;
}
section.sponsors .sponsor-logos-container.logos-standard {
  height: 90px;
}
section.sponsors .sponsor-logos-container.logos-standard a {
  white-space: nowrap;
  height: 70px;
  margin: 0;
  padding: 0;
}
section.sponsors .sponsor-logos-container.logos-standard a .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
section.sponsors .sponsor-logos-container.logos-standard a img {
  max-height: 70px;
  vertical-align: middle;
}
section.sponsors .sponsor-logos-container.softlayer a img {
  max-width: 500px;
}
@media (max-width: 600px) {
  section.sponsors .sponsor-logos-container.softlayer a img {
    max-width: 350px;
  }
}
section.sponsors .sponsor-item {
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  color: #999999;
}
@media (max-width: 768px) {
  #judges .name {
    text-align: center;
  }
}
.portrait.img-circle {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
  border: 7px solid white;
}
.portrait.img-circle img {
  -webkit-transform: translate(-50%);
  margin-left: 100px;
}
#social {
  padding: 40px 0;
}
#social .section-heading {
  margin-bottom: 30px;
  margin-top: 10px;
}
#social a.fa {
  color: #666;
}
#social a.fa:hover {
  color: #ddd;
  text-decoration: none;
}
#faq .panel {
  margin-bottom: 0;
}
#faq .panel h3 {
  margin-top: 10px;
}
#faq .panel p {
  margin-bottom: 0;
}
#schedule hr {
  opacity: 0.6;
}
#schedule p.time,
#schedule p.activity {
  display: block;
  float: left;
}
#schedule p.time {
  opacity: 0.6;
  width: 30%;
  text-align: left;
}
@media (max-width: 768px) {
  #schedule p.time {
    width: 40%;
  }
}
#schedule p.activity {
  width: 70%;
}
#schedule p.activity strong {
  border-bottom: 2px solid white;
}
@media (max-width: 768px) {
  #schedule p.activity {
    width: 60%;
  }
}
#schedule p emph {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
}
#schedule h4 {
  padding: 10px 0;
  font-weight: 400;
  margin: 20px 0 40px 0;
  font-size: 23px;
  font-family: "Raleway", 'Helvetica Neue', Arial, sans-serif;
}
#schedule h4 span {
  border: 3px solid white;
  padding: 10px 20px;
}
#schedule a {
  color: white;
  font-weight: bold;
  border-bottom: 1px dotted white;
}
#schedule a:hover {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}
#registration-form-container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#registration-form-container #snackbar-container {
  background: red;
}
#registration-form-container section {
  padding: 20px 0;
}
#registration-form-container label {
  font-weight: normal;
}
a[data-toggle="tooltip"]:after {
  content: "*";
}
