<!DOCTYPE html>
<html lang="en">

<head>
  <title>WearHacks Montreal 2015</title>
  <base href="/" />
  {% include 'meta.html' %}
  {% include 'fonts.html' %}
  {% include 'stylesheets.html' %}
  {% include 'html5.html' %}
</head>

<body id="page-top">

    {% block content %}
      <div class="container main-content">
        <p> There is nothing here yet. Let's start building! </p>
      </div>
      <!-- Debug Toolbar -->
    {% endblock %}

  {% include 'javascripts.html' %}
  {% block scripts %}{% endblock %}
</body>
</html>
