{% load staticfiles %}

<section class="no-padding" id="hardware">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/myo-thalmic.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Myo Thalmic
                                </div>
                                <div class="project-name">
                                    The Myo gesture control armband reads your muscle activity so you can control your favourite presentation software with gestures and motion. 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/rift.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Oculus Rift
                                </div>
                                <div class="project-name">
                                    The Rift uses state of the art displays and optics designed specifically for VR. Its high refresh rate and low-persistence display work together with its custom optics system to provide incredible visual fidelity and an immersive, wide field of view. 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/nod-ring.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Nod Ring
                                </div>
                                <div class="project-name">
                                    Nod seamlessly transforms your movements using precision skeletal tracking to fully experience VR environments, command drones with a wave of your hand, and even interact with your favorite smart devices.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/metawear.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    MetaWear
                                </div>
                                <div class="project-name">
                                    The MetaWear SDK is a low-cost solution that includes Bluetooth Sensors and Analytics Tools so you can build competitive products and scale affordably.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/estimote.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Estimote
                                </div>
                                <div class="project-name">
                                    Stick our tiny beacons in any location or to any object 
to create new, contextually rich mobile experiences.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/jabra.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Jabra Intelligent Headset
                                </div>
                                <div class="project-name">
                                    Advanced sensor pack and dynamic 3D audio - and exciting new apps platform!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/df1.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Device Factory DF1
                                </div>
                                <div class="project-name">
                                    DF1 is the first FCC certified production device from Device Factory. The unit contains a 3-axis accelerometer connected to a micro controller that can communicate via Bluetooth Low Energy to a base station. 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/muse.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Muse
                                </div>
                                <div class="project-name">
                                    Muse is the first tool in the world that can give you accurate, real-time feedback on what’s happening in your brain when you meditate. 
                                    It provides motivational challenges and rewards to encourage you to build a regular practice. 
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/xadow.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Xadow Wearable kit for Intel Edison
                                </div>
                                <div class="project-name">
                                    Xadow Wearable Kit for Intel Edison is a perfect kit to make wearable devices with Intel Edison. It includes an expansion board together with eight tiny and powerful Xadow modules, covering sensors, actuators, displays and communication parts. Based on the kit, you could build your own pedometer, thermometer and NFC enabled devices!
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>