{% load staticfiles %}
{% load i18n %}


<section class="no-padding" id="hardware">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">{% trans "Available Hardware" %}</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/myo-thalmic.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                {% blocktrans %}
                                    Myo Thalmic
                                {% endblocktrans %}
                                </div>
                                <div class="project-name">
                                {% blocktrans %}
                                    The Myo gesture control armband reads your muscle activity so you can control your favourite presentation software with gestures and motion. 
                                 {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/muse.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                {% blocktrans %}
                                    Muse
                                {% endblocktrans %}
                                </div>
                                <div class="project-name">
                                {% blocktrans %}
                                    Muse is the first tool in the world that can give you accurate, real-time feedback on what’s happening in your brain when you meditate. 
                                    It provides motivational challenges and rewards to encourage you to build a regular practice. 
                                {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/kinect.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                {% blocktrans %}
                                    Kinect
                                {% endblocktrans %}
                                </div>
                                <div class="project-name">
                                {% blocktrans %}
                                    The latest Kinect sensor and its free software development kit (SDK) 2.0 provide developers with the foundation needed to create and deploy interactive applications that respond to peoples’ natural movements, gestures, and voice commands.
                                {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/nod-ring.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                {% blocktrans %}
                                    Nod Ring
                                {% endblocktrans %}
                                </div>
                                <div class="project-name">
                                {% blocktrans %}
                                    Nod seamlessly transforms your movements using precision skeletal tracking to fully experience VR environments, command drones with a wave of your hand, and even interact with your favorite smart devices.
                                  {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/rift.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                {% blocktrans %}
                                    Oculus Rift
                                {% endblocktrans %}
                                </div>
                                <div class="project-name">
                                {% blocktrans %}
                                    The Rift uses state of the art displays and optics designed specifically for VR. Its high refresh rate and low-persistence display work together with its custom optics system to provide incredible visual fidelity and an immersive, wide field of view. 
                                {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/estimote.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                {% blocktrans %}
                                    Estimote
                                {% endblocktrans %}
                                </div>
                                <div class="project-name">
                                {% blocktrans %}
                                    Stick our tiny beacons in any location or to any object 
to create new, contextually rich mobile experiences.
{% endblocktrans %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/pebble.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                {% blocktrans %}
                                    Pebble
                                {% endblocktrans %}
                                </div>
                                <div class="project-name">
                                {% blocktrans %}
                                    Pebble is a customizable watch that conveniently and subtly delivers the information that you want directly to your wrist. Pebble connects to your iOS or Android smartphone via Bluetooth and has a rechargeable battery that lasts for 5-7 days per charge.
                                {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/metawear.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                {% blocktrans %}
                                    MetaWear
                                {% endblocktrans %}
                                </div>
                                <div class="project-name">
                                {% blocktrans %}
                                    The MetaWear SDK is a low-cost solution that includes Bluetooth Sensors and Analytics Tools so you can build competitive products and scale affordably.
                                {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="{% static 'images/portfolio/particle.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                {% blocktrans %}
                                    Spark Maker Kit
                                {% endblocktrans %}
                                </div>
                                <div class="project-name">
                                {% blocktrans %}
                                    <p class="small">The <strong>Spark Core</strong> is an Arduino-compatible, Wi-Fi enabled, cloud-powered development platform that makes creating internet-connected hardware a breeze.
                                    The <strong>Spark Maker Kit</strong> contains all the necessary hardware components to get you started with building simple Internet enabled projects. </br>
                                    <strong>Kit includes</strong>: Spark Core + breadboard + jumper wires + resistors + capacitors + sensors + buttons + LEDs + various other components + a carrying case. </p>
                                {% endblocktrans %}
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>