{% load staticfiles %}

<header id="3">
        <div class="header-content">
            <div class="header-content-inner">
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10 action-panel">
                        <div class="row who">
                            <div class="col col-sm-9 logo">
                            </div>
                            <div class="col col-sm-3 info">
                                <!-- <ul>
                                <li>2-3 Oct 2015</li>
                                <li>Montreal</li>
                                <li>New Res Hall</li>
                                </ul> -->
                                <div><p class="small">2-3 Oct 2015</p></div>
                                <div><p>Montreal</p></div>
                                <div><p class="small">New Res Hall</p></div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-xs-offset-1 col-xs-10">
                        <h3>The Biggest Wearable Hackathon in North-America</h3>
                        </div>
                        </div>
                        <div class="row what">
                            <div class="col col-sm-5 col-xs-10 text action-label">
                                <p>Innovate with</p>
                            </div>
                            <div class="col col-sm-6 col-xs-10 hardware  cycle-slideshow" 
                                data-cycle-fx="scrollHorz"
                                data-cycle-pause-on-hover="true"
                                data-cycle-speed="100"
                                data-cycle-center-vert="true"
                                data-cycle-caption="#alt-caption"
                                data-cycle-caption-template="{{alt}}"
                                >
                                <!-- <img src="http://placehold.it/300x300?text=Logo" class="img-responsive" alt="WearHacks"> -->
                                <img src="{% static 'images/carousel/1.png' %}" width="350px">
                                <img src="{% static 'images/carousel/2.png' %}" width="350px">
                                <img src="{% static 'images/carousel/3.gif' %}" width="350px">
                                <img src="{% static 'images/carousel/4.png' %}" width="350px">
                                <img src="{% static 'images/carousel/myo.svg' %}" width="350px">
                                <div id="alt-caption" class="center"></div>
                            <!-- </div> -->
                            </div>
                            <!-- <div class="col col-xs-3 text hardware-label">
                                <p>Oculus Rift</p>
                            </div> -->
                        </div>
                        <div class="row how">
                            <div class="col-sm-offset-2 col-sm-5 col-xs-offset-1 col-xs-10">
                                <a href="{% url 'register' %}" class="btn btn-primary btn-xl btn-block">Join</a>
                            </div>
                            <div class="col-sm-3 col-sm-offset-0 col-xs-offset-1 col-xs-10">
                                <a class="btn btn-default btn-xl btn-block" href="mailto:montreal@wearhacks.com">Sponsor Us</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="background"></div>
    </header>