{% extends "_base.html" %}
{% load staticfiles %}

{% block content %}
    {% include "navigation.html" %}
    {% include "header.html" %}
    {% include "about.html" %}
    {% include "hardware.html" %}
    {% include "sponsors.html" %}
    {% include "partners.html" %}
    {% include "faq.html" %}
    {% include "judges.html" %}
    {% include "judges.html" %}
    {% include "mentors.html" %}
    {% include "schedule.html" %}
    {% include "venue.html" %}
    {% include "organizers.html" %}
    {% include "contact.html" %}
    {% include "footer.html" %}
{% endblock %}