{% load compress %}
{% load staticfiles %}

{% compress js %}

<!-- jQuery stuff -->
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-cookie/jquery.cookie.js' %}"></script>

<!-- Pretty Responsive Grids: Dessandro <3 -->
<script type="text/javascript" src="{% static 'bower_components/jquery-masonry/dist/masonry.pkgd.min.js' %}"></script>

<!-- Twitter Bootstrap JavaScript -->
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'bower_components/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'bower_components/wow/dist/wow.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-cycle2/build/jquery.cycle2.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-cycle2/build/plugin/jquery.cycle2.center.min.js' %}"></script>
<script src="{% static 'bower_components/jquery-cycle2/build/plugin/jquery.cycle2.flip.min.js' %}"></script>
<script src="{% static 'bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js' %}"></script>

<!-- Startbootstrap Creative 1.0.1 -->
<script src="{% static 'javascripts/startbootstrap-creative/js/creative.js' %}"></script>

{% endcompress %}