{% load compress %}
{% load staticfiles %}

{% compress js %}

<!-- Utilities -->
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<!-- jQuery stuff -->
<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-cookie/jquery.cookie.js' %}"></script>

<!-- Pretty Responsive Grids: Dessandro <3 -->
<script type="text/javascript" src="{% static 'bower_components/jquery-masonry/dist/masonry.pkgd.min.js' %}"></script>

<!-- Twitter Bootstrap JavaScript -->
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap3-dialog/dist/js/bootstrap-dialog.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap3-typeahead/bootstrap3-typeahead.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'bower_components/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'bower_components/fittext/fittext.js' %}"></script>
<script src="{% static 'bower_components/wow/dist/wow.min.js' %}"></script>

<!-- Startbootstrap Creative 1.0.1 -->
<script src="{% static 'javascripts/startbootstrap-creative/js/creative.js' %}"></script>

<!-- Our stuff -->
<!-- ?v=00001 ensures it doesn't get cached. Should remove this in production. -->
<script type="text/javascript" src="{% static 'javascripts/script.js' %}?v=00001"></script>

{% endcompress %}