<div class="navmenu navmenu-default navmenu-fixed-left offcanvas" style="">
  <ul class="nav navmenu-nav">
    <li class="active"><a href="/"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Notes</a></li>
    <li><a href="/pinned"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Pinned</a></li>
    <li><a href="/archive"><span class="glyphicon mdi-content-archive" aria-hidden="true"></span> Archive</a></li>
  </ul>
</div>
<div class="navbar navbar-default navbar-fixed-top" style="">
  <div class="nav navbar-nav navbar-left col-lg-2 col-sm-3">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Notes</a>
  </div>
  <div class="nav navbar-nav navbar-right col-lg-10 col-sm-9">
    <div class="navbar-form searchbox">
      <input id="searchInput" type="text" class="form-control col-lg-10 search" placeholder="Search Tags" data-provide="typeahead" autocomplete="off">
      <button class="search-icon"><i class="mdi-action-search" aria-hidden="true"></i></button>
    </div>
  </div>
</div>