{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_language_info_list for available_languages as langs %}

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="10" data-target="#header">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="http://wearhacks.com/">WearHacks</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
               <!--  <li>
                    <a class="page-scroll" href="#home">{% trans "Home" %}</a>
                </li> -->
                <li>
                    <a class="page-scroll" href="#about">{% trans "About" %}</a>
                </li>                              
                <li>
                    <a class="page-scroll" href="#hardware">{% trans "Hardware" %}</a>
                </li>               
                {% if sponsors.global_premium or sponsors.global_standard or sponsors.local_premium or sponsors.local_standard %}
                <li>
                    <a class="page-scroll" href="#sponsors">{% trans "Sponsors" %}</a>
                </li>             
                {% endif %} 
                {% if sponsors.partners %}
                <li>
                    <a class="page-scroll" href="#partners">{% trans "Partners" %}</a>
                </li>             
                {% endif %}   
                {% if judges %} 
                <li>
                    <a class="page-scroll" href="#judges">{% trans "Judges" %}</a>
                </li>  
                {% endif %}  
                {% if mentors %} 
                <li>
                    <a class="page-scroll" href="#mentors">{% trans "Mentors" %}</a>
                </li> 
                {% endif %} 
                <li>
                    <a class="page-scroll" href="#faq">{% trans "FAQ" %}</a>
                </li>                
                <li>
                    <a class="page-scroll" href="#schedule">{% trans "Schedule" %}</a>
                </li>   
                <li>
                    <a class="page-scroll" href="#venue">{% trans "Venue" %}</a>
                </li>   
                {% if workshops %} 
                <li>
                    <a class="page-scroll" href="#workshops">{% trans "Workshops" %}</a>
                </li> 
                {% endif %}              
                <!-- <li>
                    <a class="page-scroll" href="#venue">{% trans "Venue" %}</a>
                </li>                
                <li>
                    <a class="page-scroll" href="#organizers">{% trans "Team" %}</a>
                </li> -->
                <li>
                    <a class="page-scroll" href="#contact">{% trans "Contact" %}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li class="pull-right language-selection">
                  <form action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    {% if lang.code == 'en' %}
                    <input type="hidden" name="language" value="fr">
                    <input type="hidden" name="next" value="/fr/">
                    <input class="btn btn-link" type="submit" value="FR"/>
                    {% else %}
                    <input type="hidden" name="language" value="en">
                    <input type="hidden" name="next" value="/en/">
                    <input class="btn btn-link" type="submit" value="EN"/>
                    {% endif %}
                  </form>
                </li>

                {% comment %}
                <li class="pull-right dropdown language-selection-dropdown">
                  <a href="#" id="{{lang.code}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ lang.name_local }} <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    {% for other_lang in LANGUAGES %}
                        {% ifnotequal lang.code other_lang.0 %}
                            <li><a href="#" id="{{other_lang.0}}" class="lang">{{ other_lang.1 }}</a></li>
                        {% endifnotequal %}
                    {% endfor %}
                  </ul>
                </li>
                {% endcomment %}
                <li class="pull-right">
                    <div class="social-btns">
                       <a class="social-holder" href="http://facebook.com/wearhacks">
                       <div class="fui-facebook fa fa-facebook">
                       </div>
                       <div class="fui-facebook fa fa-facebook">
                       </div>
                        </a> <a class="social-holder" href="http://twitter.com/wearhacks">
                       <div class="fui-twitter fa fa-twitter">
                       </div>
                       <div class="fui-twitter fa fa-twitter">
                       </div>
                     </a> <a class="social-holder" href="https://www.linkedin.com/company/wearhacks">
                       <div class="fui-linkedin fa fa-linkedin">
                       </div>
                       <div class="fui-linkedin fa fa-linkedin">
                       </div>
                        </a> <a class="social-holder" href="https://www.youtube.com/channel/UC2ptEc6sOrLmmivfPjWoIyA">
                       <div class="fui-youtube fa fa-youtube">
                       </div>
                       <div class="fui-youtube fa fa-youtube">
                       </div>
                        </a>
                     </div>
                </li>
                <li class="text-right">
                    <a class="btn btn-link pull-right" href="{% url 'register' %}">{% trans "Register" %}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>