<section class="bg-primary" id="schedule">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 text-left">
                <h2 class="section-heading">Schedule</h2>
                <!-- <hr class="light"> -->
                <p class="text-faded">We will post the finalized schedule as soon as it's done. Stay tuned!</p>
                <p class="text-faded"> If you'd like to get an idea of what to expect, check out <a class="text-primary" href="http://montreal.wearhacks.com/#schedule">last year's  schedule</a>.</p>
            </div>
        </div>
    </div>
</section>