{% load staticfiles %}

{% if sponsors.global_premium or sponsors.global_standard or sponsors.local_premium or sponsors.local_standard %}
<section id="sponsors" class="sponsors">
  <div class="container">
  {% if sponsors.global_premium or sponsors.global_standard %}
    <div class="row col-lg-12 text-center">
      <div class="section-heading">
          <h1>Global Sponsors</h1>
          <hr class="primary">
      </div>
    </div>

      <!-- premium sponsors (1/row)-->
      {% if sponsors.global_premium %}
        {% for sponsor in sponsors.global_premium %}
          <div class="row">
            <div class="col-sm-offset-1 col-sm-10 text-center">
              <div class="sponsor-logos-container logos-premium {{sponsor.name|slugify}}">
                <a href="{{sponsor.url}}" target="_blank">
                  <span class="helper"></span>
                  <img class="img-responsive" src="{% static sponsor.image.url %}">
                </a>           
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      <!-- standard sponsors (4/row)-->
      {% if sponsors.global_standard %}
          <div class="row">
            <div class="col-sm-offset-1 col-sm-10 text-center">
              <div class="row">
                {% for sponsor in sponsors.global_standard %}
                <div class="col-xs-6 col-md-3 col-centered">
                  <div class="sponsor-logos-container logos-standard {{sponsor.name|slugify}}">
                    <a href="{{sponsor.url}}" target="_blank">
                      <span class="helper"></span>
                      <img class="img-responsive" src="{% static sponsor.image.url %}">
                    </a>        
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
      {% endif %}
  {% endif %}

  {% if sponsors.local_premium or sponsors.local_standard %}
    <div class="row col-lg-12 text-center">
      <div class="section-heading">
          <h1>City Sponsors</h1>
          <hr class="primary">
      </div>
    </div>

      <!-- premium sponsors (1/row)-->
      {% if sponsors.local_premium %}
        {% for sponsor in sponsors.local_premium %}
          <div class="row">
            <div class="col-sm-offset-1 col-sm-10 text-center">
              <div class="sponsor-logos-container logos-premium {{sponsor.name|slugify}}">
                <a href="{{sponsor.url}}" target="_blank">
                  <span class="helper"></span>
                  <img class="img-responsive" src="{% static sponsor.image.url %}">
                </a>           
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      <!-- standard sponsors (4/row)-->
      {% if sponsors.local_standard %}
          <div class="row">
            <div class="col-sm-offset-1 col-sm-10 text-center">
              <div class="row">
                {% for sponsor in sponsors.local_standard %}
                <div class="col-xs-6 col-md-3 col-centered">
                  <div class="sponsor-logos-container logos-standard {{sponsor.name|slugify}}">
                    <a href="{{sponsor.url}}" target="_blank">
                      <span class="helper"></span>
                      <img class="img-responsive" src="{% static sponsor.image.url %}">
                    </a>        
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
      {% endif %}

      <!-- community sponsors (6/row)-->
      {% if sponsors.community %}
          <div class="row">
            <div class="col-sm-offset-1 col-sm-10 text-center">
              <div class="row">
                {% for sponsor in sponsors.community %}
                <div class="col-xs-3 col-md-2 col-centered">
                  <div class="sponsor-logos-container logos-standard {{sponsor.name|slugify}}">
                    <a href="{{sponsor.url}}" target="_blank">
                      <span class="helper"></span>
                      <img class="img-responsive" src="{% static sponsor.image.url %}">
                    </a>        
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
      {% endif %}

  {% endif %}
    <div class="row col-lg-12 text-center">
        <h4>Interested in sponsoring? E-mail us at <a href="mailto:montreal@wearhacks.com">montreal@wearhacks.com</a>!
    </div>
  </div>
</section>
{% endif %}