{% load compress %}
{% load staticfiles %}

{% compress css %}

<!-- Twitter Bootstrap -->
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />

<!-- Plugin CSS -->
<link rel="stylesheet" href="{% static 'stylesheets/css/animate.min.css' %}" type="text/css">

<!-- Startbootstrap Creative CSS (Modified)-->
<link rel="stylesheet" href="{% static 'stylesheets/css/creative.css' %}" type="text/less">

<!-- Custom CSS -->
<!-- ?v=00001 ensures it doesn't get cached. Should remove this in production. -->
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/css/styles.css' %}?v=00001" />
{% endcompress %}