    {% load i18n %}

    <section class="bg-dark" id ="venue">
        <div class="container text-center">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="section-heading">Venue</h2>
                    <hr class="bg-white">
                    <div class="col-xs-10 col-xs-offset-1 text-center">
                    <h3 class="subtitle"><small>La Commune, 440 PLACE JACQUES CARTIER </small></h3>
                    </div>
                    <div class="row">
                      <div class="website col-xs-12 text-center center-block">
                      <a href="http://www.lacommune.ca" target="_blank" class="btn btn-default btn-xl">LaCommune.ca</a>
                      </div>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 text-center">
                  <div class="row">
                    <div id="map" class="col-xs-12 col-xs-offset-0 "></div>
                  </div>
                </div>
            </div>
        </div>
    </section>