.who .col {
  max-height: 50px;
}
.who .info ul {
  list-style-type: none;
}
.who .info li {
  text-transform: uppercase;
  font-size: 1em;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
