header .header-content-inner .who .col {
  max-height: 50px;
}
header .header-content-inner .who .logo {
  display: block;
  min-height: 100px;
  background-image: url('../../images/logo-text.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
}
header .header-content-inner .who .info {
  display: block;
  min-height: 100px;
  height: 100px;
  max-height: 100px;
}
header .header-content-inner .who .info div {
  display: block;
  min-height: 33%;
  height: 33%;
  max-height: 33%;
}
header .header-content-inner .who .info p {
  border: 1px solid red;
  text-align: left;
  padding: 3px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
