p {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
header {
  background-color: #2a223e;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a223e), to(#000000));
  background: -webkit-linear-gradient(top, #2a223e, #000000);
  background: -moz-linear-gradient(top, #2a223e, #000000);
  background: -ms-linear-gradient(top, #2a223e, #000000);
  background: -o-linear-gradient(top, #2a223e, #000000);
}
header .slideshow {
  width: 80%;
  height: 300px;
  margin: auto;
  border: 1px solid #bbb;
  background: #ffffcc;
}
header .slideshow img {
  opacity: 0;
  filter: alpha(opacity=0);
}
header .background {
  display: block;
  background: red;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../../images/montreal.jpg');
  opacity: 0.4;
}
header .header-content {
  opacity: 0.8;
  z-index: 100;
}
header .header-content-inner {
  opacity: 1;
}
header .header-content-inner .who .col {
  min-height: 100px;
  height: 100px;
  max-height: 100px;
  margin-bottom: 20px;
}
header .header-content-inner .who .logo {
  display: block;
  background-image: url('../../images/logo-text-white.png');
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center;
}
header .header-content-inner .who .info {
  display: block;
}
header .header-content-inner .who .info div {
  display: block;
  min-height: 33%;
  height: 33%;
  max-height: 33%;
}
header .header-content-inner .who .info p {
  text-align: center;
  padding: 3px;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
}
header .header-content-inner .who .info p.small {
  padding: 5px 0;
  font-size: 15px;
}
@media (max-width: 600px) {
  header .header-content-inner .who .col {
    min-height: 80px;
    height: 80px;
    max-height: 80px;
  }
}
header .header-content-inner .what {
  display: block;
  min-height: 300px;
  border: 1px solid black;
}
header .header-content-inner .what .col {
  border: 1px solid blue;
  min-height: 300px;
  height: 300px;
  max-height: 300px;
}
header .header-content-inner .what .col.text {
  display: table;
  min-height: 300px;
  height: 300px;
  max-height: 300px;
  border: 1px solid green;
}
header .header-content-inner .what .col.text p {
  border: 1px solid red;
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  font-family: "Lato", 'Helvetica Neue', Helvetica, sans-serif;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.75);
  font-weight: 400;
  font-size: 55px;
  font-family: 'Raleway', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
header .header-content-inner .how button {
  margin: 10px 0;
}
